.wrapper {
  position: relative;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: $transition-base;

  > span {
    display: block;
    opacity: 1;
    transition: opacity 0.2s ease, transform 0.2s ease;
  }
}

.size {
  &-lg {
    padding: 21px 30px;
    font-size: $font-size-sm;
  }

  &-md {
    padding: 17px 25px;
    font-size: $font-size-xs;

    @include lg-down {
      padding: 12px 20px;
    }
  }
}

.theme {
  &-primary {
    color: $color-tertiary;
    background-color: $color-primary;
    box-shadow: 0 10px 20px rgba(30, 13, 38, 0.2);

    &:hover:not(:disabled) {
      background-color: $color-primary-hover;
      box-shadow: none;
    }
  }

  &-tertiary {
    color: $color-primary;
    background-color: transparent;
    border: 2px solid $color-additional-1;

    &:hover:not(:disabled) {
      background-color: $color-primary;
      border: 2px solid $color-primary;
    }
  }

  &-accent-primary {
    color: $color-tertiary;
    background: $color-accent-primary;
    box-shadow: 0 10px 20px rgba(10, 194, 163, 0.3);

    &:hover:not(:disabled) {
      background: $color-accent-primary-hover;
      box-shadow: none;
    }
  }

  &-accent-secondary {
    color: $color-tertiary;
    background-color: $color-accent-secondary;
    box-shadow: 0 10px 20px rgba(123, 81, 251, 0.2);

    &:hover:not(:disabled) {
      background: $color-accent-secondary-hover;
      box-shadow: none;
    }
  }

  &-accent-tertiary {
    color: $color-primary;
    background: $color-accent-tertiary;
    box-shadow: 0 10px 20px rgba(247, 213, 110, 0.2);

    &:hover:not(:disabled) {
      background: $color-accent-tertiary-hover;
      box-shadow: none;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.25;
}
