.wrapper {
  margin-bottom: 180px;

  @include section-paddings;

  @include fullhd-down {
    margin-bottom: 150px;
  }

  @include lg-down {
    margin-bottom: 120px;
  }

  @include sm-down {
    margin-bottom: 90px;
  }
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;

  @include md-down {
    column-gap: 0;
  }
}

.title {
  margin-bottom: 30px;

  @include lg-down {
    margin-bottom: 20px;
  }
}

.left {
  position: relative;
  grid-column: span 6;

  @include fullhd-down {
    grid-column: span 7;
  }

  @include md-down {
    grid-column: span 12;
    grid-column-start: 2;
    grid-column-end: 12;
  }

  @include sm-down {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.right {
  grid-column-start: 8;
  grid-column-end: 12;

  @include with-link-accent-secondary;

  @include fullhd-down {
    grid-column-end: 13;
  }

  @include lg-down {
    padding-left: 55px;
  }

  @include md-down {
    grid-row-start: 1;
    grid-column: span 12;
    grid-column-start: 2;
    grid-column-end: 12;
    padding-left: 0;
    margin-bottom: 50px;
  }

  @include sm-down {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.icon {
  margin-bottom: 20px;

  @include fullhd-down {
    width: 60px;
    height: 60px;
  }

  @include lg-down {
    width: 50px;
    height: 50px;
  }
}

.description {
  margin-bottom: 30px;

  @include list-style;

  @include xl-down {
    font-size: $font-size-sm;
  }

  @include lg-down {
    margin-bottom: 25px;
    font-size: $font-size-xs;
  }
}

.link {
  display: flex;
  align-items: center;
  font-size: $font-size-xs;
  font-weight: 700;
}

.illustration {
  margin-top: -4px;

  @include fullhd-down {
    width: 630px;
    margin-top: 21px;
  }

  @include xl-down {
    width: 600px;
  }

  @include lg-down {
    width: 540px;
    margin-top: 24px;
  }

  @include md-down {
    width: 100%;
    margin-top: 0;
  }

  @include sm-down {
    margin-right: auto;
    margin-left: auto;
  }
}
