.wrapper {
  @include section-paddings;
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}

.title {
  grid-column: 2 / 6;
}

.content-wrapper {
  @include with-link-accent-secondary;

  grid-column: 7 / 11;
}

.content {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  > * {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    padding-left: 0;
    list-style-type: none;

    li {
      position: relative;
      padding-left: 35px;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        top: 6px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '';
        background-image: url(./images/check.svg);
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;

  @include xxs-down {
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
  }

  svg {
    margin-left: 6px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.buttons-wrapper {
  display: flex;
}

.button {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}
