.wrapper {
  @include section-paddings;

  &:global(.with-background) {
    overflow: hidden;
  }
}

.inner-wrapper {
  position: relative;
  max-width: 1070px;
  margin-right: auto;
  margin-left: auto;

  @include xl-down {
    max-width: 970px;
  }

  @include lg-down {
    max-width: 940px;
  }
}

.inner {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 75px;
  background-color: $color-tertiary;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(30, 13, 38, 0.1), 0 5px 10px rgba(30, 13, 38, 0.1);

  @include lg-down {
    padding-top: 40px;
    padding-bottom: 55px;
  }

  @include md-down {
    flex-direction: column;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
  }

  @include sm-down {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;
  }
}

.image-wrapper {
  @include md-down {
    order: 2;
  }

  & > div {
    @include xl-down {
      width: 370px !important;
      height: 342px !important;
    }

    @include lg-down {
      width: 350px !important;
      height: 323px !important;
    }

    @include sm-down {
      width: 300px !important;
      height: 278px !important;
    }

    @include xxs-down {
      width: 260px !important;
      height: 238px !important;
    }
  }
}

.header {
  margin-bottom: 40px;

  @include xl-down {
    margin-bottom: 35px;
  }

  @include lg-down {
    margin-bottom: 30px;
  }

  @include sm-down {
    margin-bottom: 25px;
  }
}

.title {
  margin-bottom: 10px;

  @include fullhd-down {
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }

  @include lg-down {
    font-size: 35px;
    line-height: 45.5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  display: flex;
  flex: 0 0 490px;
  flex-direction: column;
  align-items: flex-start;

  @include xl-down {
    flex: 0 0 440px;
  }

  @include lg-down {
    flex: 0 0 430px;
  }

  @include md-down {
    flex: initial;
    order: 1;
    width: 100%;
    margin-bottom: 60px;
  }

  @include sm-down {
    margin-bottom: 40px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  font-size: $font-size-xs;
  line-height: $line-height-xs;

  @include with-link-accent-secondary;
}

.form {
  width: 100%;

  & > * + * {
    margin-top: 40px;

    @include lg-down {
      margin-top: 35px;
    }
  }

  > div {
    &:last-child {
      @include xl-down {
        margin-top: 50px;
      }

      @include lg-down {
        margin-top: 45px;
      }

      @include sm-down {
        margin-top: 40px;
      }
    }
  }
}

.form-footer {
  display: flex;
  align-items: center;

  @include with-link-accent-secondary;

  @include sm-down {
    flex-direction: column;
  }
}

.form-footer-text {
  padding-right: 25px;
  margin-left: 30px;
  font-size: $font-size-xs;
  font-weight: bold;
  line-height: $line-height-xs;
  color: $color-additional-6;
  text-transform: uppercase;

  @include sm-down {
    display: none;
  }
}

.button {
  @include lg-down {
    padding: 17px 25px;
    font-size: $font-size-xs;
  }

  @include sm-down {
    width: 100%;
    margin-bottom: 30px;
  }
}

.link {
  font-size: $font-size-xs;
  font-weight: bold;
  line-height: $line-height-xs;
}

.shape {
  position: absolute;

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include sm-down {
    width: 320px;
  }

  @include xxs-down {
    width: 250px;
  }
}

.shape-1 {
  top: -90px;
  left: -160px;

  @include fullhd-down {
    top: -70px;
    left: -140px;
  }

  @include xl-down {
    top: -60px;
    left: -120px;
  }

  @include sm-down {
    top: -50px;
    left: -90px;
  }

  @include xs-down {
    top: -40px;
    left: -80px;
  }
}

.shape-2 {
  right: -160px;
  bottom: -90px;

  @include fullhd-down {
    right: -140px;
    bottom: -70px;
  }

  @include xl-down {
    right: -120px;
    bottom: -60px;
  }

  @include sm-down {
    right: -90px;
    bottom: -50px;
  }

  @include xs-down {
    right: -80px;
    bottom: -40px;
  }
}
