.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // This is the height of illustration. Needs to be updated on every breakpoint where illustration's height gets changed
  min-height: 500px;
  overflow: hidden;

  @include section-paddings;

  @include fullhd-down {
    min-height: 420px;
  }

  @include xl-down {
    min-height: 380px;
  }

  @include xs-down {
    min-height: 500px;
  }

  &.with-margins {
    margin-bottom: 180px;

    @include fullhd-down {
      margin-bottom: 150px;
    }

    @include lg-down {
      margin-bottom: 120px;
    }

    @include md-down {
      margin-bottom: 90px;
    }

    @include sm-down {
      margin-bottom: 70px;
    }
  }
}

.text {
  position: relative;
  z-index: 1;
  text-align: center;

  &.type_1 {
    strong {
      &:nth-of-type(1) {
        color: $color-accent-primary;
      }

      &:nth-of-type(2) {
        color: $color-accent-tertiary;
      }

      &:nth-of-type(3) {
        color: $color-accent-secondary;
      }
    }
  }

  &.type_2 {
    font-size: 50px;
    line-height: $line-height-secondary;

    @include fullhd-down {
      font-size: 45px;
    }

    @include xl-down {
      font-size: 40px;
    }

    @include lg-down {
      font-size: 35px;
    }

    @include sm-down {
      font-size: 30px;
    }

    @include xs-down {
      font-size: 25px;
    }

    strong {
      &:nth-of-type(1) {
        color: $color-accent-tertiary;
      }

      &:nth-of-type(2) {
        color: $color-accent-secondary;
      }

      &:nth-of-type(3) {
        color: $color-accent-primary;
      }
    }
  }

  strong {
    font-weight: inherit;
  }
}

.illustration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include xs-down {
    width: 500px;
  }
}
