.wrapper {
  @include section-paddings;

  &:global(.with-background) {
    overflow: hidden;
  }
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  align-items: center;

  @include md-down {
    row-gap: 45px;
    column-gap: 0;
  }

  &.left {
    .content-wrapper {
      grid-column: 1 / 6;

      @include md-down {
        grid-column: 2 / 12;
      }

      @include sm-down {
        grid-column: 1 / 13;
      }
    }

    .illustration-wrapper {
      grid-column: 7 / 13;

      @include md-down {
        grid-column: 2 / 12;
      }

      @include sm-down {
        grid-column: 1 / 13;
      }
    }

    .shape {
      right: -135px;

      @include fullhd-down {
        right: -95px;
      }

      @include xl-down {
        right: -75px;
      }

      @include sm-down {
        right: -45px;
      }

      @include xxs-down {
        right: -20px;
      }
    }
  }

  &.right {
    grid-auto-flow: dense;

    .content-wrapper {
      grid-column: 8 / 13;

      @include md-down {
        grid-column: 2 / 12;
      }

      @include sm-down {
        grid-column: 1 / 13;
      }
    }

    .illustration-wrapper {
      grid-column: 1 / 7;

      @include md-down {
        grid-column: 2 / 12;
      }

      @include sm-down {
        grid-column: 1 / 13;
      }
    }

    .shape {
      left: -135px;

      @include fullhd-down {
        left: -95px;
      }

      @include xl-down {
        left: -75px;
      }

      @include sm-down {
        left: -45px;
      }

      @include xxs-down {
        left: -20px;
      }
    }
  }
}

.content-wrapper {
  position: relative;
  z-index: 1;

  @include with-link-accent-secondary;
}

.icon {
  display: block;
  height: 70px;
  margin-bottom: 30px;

  @include fullhd-down {
    height: 60px;
  }

  @include lg-down {
    height: 50px;
    margin-bottom: 25px;
  }
}

.title {
  margin-bottom: 30px;

  @include lg-down {
    margin-bottom: 25px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.content {
  margin-bottom: 30px;

  @include list-style;

  @include xl-down {
    font-size: $font-size-sm;
  }

  @include lg-down {
    margin-bottom: 25px;
    font-size: $font-size-xs;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > * {
    margin-top: 0;
    margin-bottom: 20px;

    @include lg-down {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: $font-size-xs;
  font-weight: 700;

  @include lg-down {
    margin-bottom: 25px;
  }

  @include xxs-down {
    font-size: $font-size-xxs;
  }

  svg {
    margin-left: 6px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.buttons-wrapper {
  display: flex;

  @include xs-down {
    flex-direction: column;
  }
}

.button {
  margin-right: 30px;

  @include lg-down {
    margin-right: 25px;
  }

  @include xs-down {
    margin-right: 0;
    margin-bottom: 15px;
  }

  &:last-of-type {
    margin-right: 0;

    @include xs-down {
      margin-bottom: 0;
    }
  }
}

.illustration-wrapper {
  position: relative;
}

.illustration {
  position: relative;
  z-index: 1;
}

.shape {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include sm-down {
    width: 320px;
  }

  @include xxs-down {
    width: 250px;
  }
}

.image-wrapper {
  position: relative;
  max-width: 100%;
  text-align: center;
}

.image-inner {
  position: relative;
  display: inline-block;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: none;
  height: 100%;
  padding: 0;
  margin: 0;
}

.botton-border {
  padding-bottom: 56px;
  border-bottom: 1px dashed $color-additional-7;
}

.features-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 56px;
  grid-column-gap: 28px;
  margin-top: 56px;

  @include md-down {
    grid-template-columns: 1fr;
  }
}

.feature-icon {
  margin-bottom: 14px;
}

.feature-title {
  margin-top: 0;
  margin-bottom: 14px;
  font-family: $font-family-secondary;
  font-size: 22px;
  font-weight: bold;
  color: $color-primary;
}

.feature-text {
  margin-top: 0;
  font-size: $font-size-sm;

  @include lg-down {
    font-size: $font-size-xs;
  }
}
