.wrapper {
  @include section-paddings;
}

.quote {
  display: block;
  width: 60px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  fill: $color-quaternary;

  @include fullhd-down {
    width: 50px;
  }

  @include lg-down {
    width: 40px;
    margin-bottom: 25px;
  }
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1270px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;

  @include lg-down {
    padding-bottom: 35px;
  }
}

.items-wrapper {
  :global {
    .swiper-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.button {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  // Fix in order to align buttons with quote
  margin-bottom: 47px;
  cursor: pointer;
  background-color: $color-accent-secondary;
  border: none;
  border-radius: 50%;
  outline: none;
  transition-duration: $transition-base;
  transition-property: background-color;

  @include md-down {
    display: none;
  }
}

.arrow {
  width: 24px;
  fill: $color-tertiary;

  &.flipped {
    transform: rotate(180deg);
  }
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-right: 80px;
  margin-bottom: 0;
  margin-left: 80px;
  text-align: center;

  @include lg-down {
    margin-right: 40px;
    margin-left: 40px;
  }

  @include md-down {
    margin-right: 0;
    margin-left: 0;
  }
}

.text {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 30px;
  font-style: italic;
  line-height: 1.3;

  @include fullhd-down {
    font-size: 28px;
  }

  @include xl-down {
    font-size: 26px;
  }

  @include sm-down {
    font-size: 24px;
  }

  @include xs-down {
    font-size: 22px;
  }

  strong {
    font-weight: 600;
    color: $color-accent-primary;
  }
}

.author {
  font-size: $font-size-sm;
  font-weight: 600;
  line-height: $line-height-sm;
  color: $color-additional-6;
}

:global {
  .swiper-pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
  }
}

.bullet {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  cursor: pointer;
  background-color: $color-secondary;
  border: 2px solid transparent;
  border-radius: 50%;
  outline: none;
  transition: background-color $transition-base, border-color $transition-base;

  &:last-child {
    margin-right: 0;
  }

  &.active {
    background-color: transparent;
    border-color: $color-accent-secondary;
  }
}
