.wrapper {
  margin-bottom: 240px;

  @include section-paddings;

  @include fullhd-down {
    margin-bottom: 215px;
  }

  @include lg-down {
    margin-bottom: 180px;
  }

  @include md-down {
    margin-bottom: 140px;
  }

  @include sm-down {
    margin-bottom: 110px;
  }
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;

  @include md-down {
    column-gap: 0;
  }
}

.title {
  margin-bottom: 30px;

  @include lg-down {
    margin-bottom: 20px;
  }
}

.left {
  grid-column-start: 2;
  grid-column-end: 6;

  @include with-link-accent-secondary;

  @include fullhd-down {
    grid-column-start: 1;
  }

  @include lg-down {
    max-width: 305px;
  }

  @include md-down {
    grid-column: span 12;
    grid-column-start: 2;
    grid-column-end: 12;
    max-width: 100%;
    margin-bottom: 50px;
  }

  @include sm-down {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.right {
  grid-column-start: 7;
  grid-column-end: 13;

  @include lg-down {
    grid-column-start: 6;
  }

  @include md-down {
    grid-column: span 12;
    grid-column-start: 2;
    grid-column-end: 12;
  }

  @include sm-down {
    grid-column-start: 1;
    grid-column-end: 13;
  }
}

.icon {
  margin-bottom: 20px;

  @include fullhd-down {
    width: 60px;
    height: 60px;
  }

  @include lg-down {
    width: 50px;
    height: 50px;
  }
}

.description {
  margin-bottom: 30px;

  @include list-style;

  @include xl-down {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  @include lg-down {
    margin-bottom: 25px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
}

.link {
  display: flex;
  align-items: center;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
}

.illustration {
  position: relative;
  margin-top: 10px;

  @include fullhd-down {
    width: 630px;
    margin-top: 38px;
  }

  @include xl-down {
    width: 600px;
    margin-top: 33px;
    margin-left: -30px;
  }

  @include lg-down {
    width: 540px;
    margin-top: 48px;
    margin-left: 0;
  }

  @include md-down {
    width: 100%;
    margin-top: 0;
  }
}
