.wrapper {
  margin-bottom: 220px;
  @include section-paddings;
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
}

.title {
  margin-bottom: 30px;
}

.left {
  grid-column-start: 2;
  grid-column-end: 6;
  @include with-link-accent-secondary;
}

.right {
  grid-column-start: 7;
  grid-column-end: 13;
}

.icon {
  margin-bottom: 30px;
}

.description {
  margin-bottom: 30px;
  @include content;
}

.link {
  display: flex;
  align-items: center;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 700;
}

.illustration {
  margin-top: -22px;
  margin-left: -30px;
}
