.item {
  position: relative;
  display: flex;

  &:last-child {
    .content {
      padding-bottom: 0;
    }

    .left {
      .progress-bar {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }
}

.left {
  position: relative;
  margin-right: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background-color: $color-additional-1;
  }
}

.icon-wrapper {
  position: relative;
  margin-top: -25px;
  z-index: 1;
}

.icon {
  &.active {
    position: absolute;
    top: 0;
  }
}

.title {
  font-size: $font-size-lg;
  line-height: $line-height-lg;
  font-family: $font-family-secondary;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 20px;
}

.description {
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  max-width: 360px;
  padding-bottom: 210px;
}

.progress-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 3px;
  background-color: $color-quaternary;
  border-radius: 6px;
  z-index: 1;
}
