.wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 180px;
  overflow: hidden;
  background-color: $color-secondary;

  @include section-paddings;

  @include fullhd-down {
    padding-top: 90px;
    padding-bottom: 150px;
  }

  @include lg-down {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}

.inner {
  @include lg-down {
    max-width: 780px;
  }
}

.title {
  position: relative;
  z-index: 1;
  margin-bottom: 90px;
  text-align: center;

  @include fullhd-down {
    margin-bottom: 70px;
  }

  @include lg-down {
    margin-bottom: 50px;
  }
}

.items-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 90px;

  @include fullhd-down {
    grid-template-columns: repeat(3, 380px);
    column-gap: 75px;
  }

  @include xl-down {
    grid-template-columns: repeat(3, 350px);
    column-gap: 60px;
  }

  @include lg-down {
    grid-template-columns: 12fr;
    row-gap: 50px;
  }
}

.item {
  position: relative;
  z-index: 2;
  text-decoration: none;

  &:hover {
    .item-link {
      svg {
        animation: bounce 0.3s;
      }
    }
  }

  &:nth-child(2) {
    z-index: 1;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      z-index: -1;
      width: 150px;
      height: 150px;
      cursor: initial;
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-50%);

      @include fullhd-down {
        width: 126px;
        height: 126px;
      }

      @include xl-down {
        width: 114px;
        height: 114px;
        margin-top: 32px;
      }

      @include lg-down {
        width: 100px;
        height: 100px;
        margin-top: 0;
        transform: translateX(-50%);
      }
    }

    &::before {
      left: -120px;
      background-image: url('./images/shape-comparison-1.url.svg');

      @include fullhd-down {
        left: -100px;
      }

      @include xl-down {
        left: -87px;
      }

      @include lg-down {
        top: -75px;
        left: 50%;
      }
    }

    &::after {
      right: -120px;
      background-image: url('./images/shape-comparison-2.url.svg');

      @include fullhd-down {
        right: -100px;
      }

      @include xl-down {
        right: -87px;
      }

      @include lg-down {
        top: auto;
        right: auto;
        bottom: -75px;
        left: 50%;
      }
    }
  }
}

.item-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: $color-primary;
  background-color: $color-tertiary;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(30, 13, 38, 0.1), 0 5px 10px rgba(30, 13, 38, 0.1);

  @include lg-down {
    display: grid;
    grid-template-columns: 290px 1fr;
    column-gap: 30px;
    align-items: center;
  }

  @include sm-down {
    display: block;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
}

.item-title {
  margin-bottom: 20px;

  @include lg-down {
    grid-column-start: 2;
  }
}

.item-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 265px;
  margin-bottom: 20px;

  @include xl-down {
    height: 200px;
    margin-bottom: 20px;
  }

  @include lg-down {
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 0;
  }

  @include sm-down {
    margin-bottom: 20px;
  }
}

.item-content {
  padding-bottom: 30px;

  @include xl-down {
    padding-bottom: 25px;
  }

  @include lg-down {
    padding-bottom: 37px;
  }
}

.item-features {
  padding-left: 0;
  margin: 0;
  list-style: none;

  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;

    @include fullhd-down {
      margin-bottom: 17px;
    }

    @include xl-down {
      margin-bottom: 15px;
      font-size: $font-size-xxs;
      line-height: 21px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    svg {
      flex-shrink: 0;
      margin-top: 2px;
      margin-right: 10px;

      @include xl-down {
        width: 18px;
      }

      circle {
        fill: $color-accent-primary;
      }
    }
  }
}

.item-link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  margin-top: auto;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: $line-height-xs;
  color: $color-accent-secondary;
  border-top: 2px solid $color-additional-4;

  @include lg-down {
    grid-column-start: 2;
    padding-top: 0;
    border-top: none;
  }

  svg {
    margin-left: 10px;

    & > path {
      fill: $color-accent-secondary;
    }
  }
}

.shape {
  position: absolute;

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include lg-down {
    width: 370px;
  }

  @include sm-down {
    width: 320px;
  }
}

.shape-1 {
  top: -100px;
  left: -135px;

  @include fullhd-down {
    top: -90px;
    left: -120px;
  }

  @include xl-down {
    top: -67px;
    left: -110px;
  }

  @include lg-down {
    top: -52px;
    left: -160px;
  }

  @include sm-down {
    top: -39px;
    left: -90px;
  }
}

.shape-2 {
  right: -135px;
  bottom: -60px;

  @include fullhd-down {
    right: -100px;
  }

  @include xl-down {
    right: -81px;
    bottom: -57px;
  }

  @include lg-down {
    right: -90px;
    bottom: -46px;
  }

  @include sm-down {
    right: -145px;
    bottom: 294px;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
