.wrapper {
  position: relative;
  background-color: $color-secondary;
  padding-top: 120px;
  padding-bottom: 180px;
  overflow: hidden;

  @include section-paddings;

  @include fullhd-down {
    padding-top: 90px;
    padding-bottom: 150px;
  }

  @include lg-down {
    padding-top: 70px;
    padding-bottom: 90px;
  }
}

.inner {
  @include lg-down {
    max-width: 780px;
  }
}

.title {
  position: relative;
  text-align: center;
  margin-bottom: 90px;
  z-index: 1;

  @include fullhd-down {
    margin-bottom: 70px;
  }

  @include lg-down {
    margin-bottom: 50px;
  }
}

.items-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 90px;

  @include fullhd-down {
    grid-template-columns: repeat(3, 380px);
    column-gap: 75px;
  }

  @include xl-down {
    grid-template-columns: repeat(3, 350px);
    column-gap: 60px;
  }

  @include lg-down {
    grid-template-columns: 12fr;
    row-gap: 50px;
  }
}

.item {
  position: relative;
  text-decoration: none;
  z-index: 2;

  &-inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $color-primary;
    background-color: $color-tertiary;
    box-shadow: 0px 10px 30px rgba(30, 13, 38, 0.1), 0px 5px 10px rgba(30, 13, 38, 0.1);
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;

    @include lg-down {
      display: grid;
      align-items: center;
      grid-template-columns: 290px 1fr;
      column-gap: 30px;
      padding-bottom: 30px;
    }

    @include sm-down {
      display: block;
      padding-bottom: 0;
    }

    @include xxs-down {
      padding: 15px;
    }
  }

  &:nth-child(1) {
    .item-image {
      & > div {
        @include fullhd-down {
          width: 287px !important;
          height: 202px !important;
        }

        @include xl-down {
          width: 260px !important;
          height: 183px !important;
        }
      }
    }
  }

  &:nth-child(2) {
    z-index: 1;

    .item-image {
      & > div {
        @include fullhd-down {
          width: 251px !important;
          height: 189px !important;
        }

        @include xl-down {
          width: 227px !important;
          height: 171px !important;
        }
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      height: 150px;
      width: 150px;
      transform: translateY(-50%);
      cursor: initial;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -1;

      @include fullhd-down {
        height: 126px;
        width: 126px;
      }

      @include xl-down {
        height: 114px;
        width: 114px;
        margin-top: 32px;
      }

      @include lg-down {
        height: 100px;
        width: 100px;
        margin-top: 0;

        transform: translateX(-50%);
      }
    }

    &::before {
      left: -120px;
      background-image: url('./images/shape-comparison-1.url.svg');

      @include fullhd-down {
        left: -100px;
      }

      @include xl-down {
        left: -87px;
      }

      @include lg-down {
        top: -75px;
        left: 50%;
      }
    }

    &::after {
      right: -120px;
      background-image: url('./images/shape-comparison-2.url.svg');

      @include fullhd-down {
        right: -100px;
      }

      @include xl-down {
        right: -87px;
      }

      @include lg-down {
        top: auto;
        right: auto;
        left: 50%;
        bottom: -75px;
      }
    }
  }

  &:nth-child(3) {
    .item-image {
      & > div {
        @include fullhd-down {
          width: 295px !important;
          height: 213px !important;
        }

        @include xl-down {
          width: 268px !important;
          height: 193px !important;
        }
      }
    }
  }

  &-theme-accent-primary {
    .item-title {
      color: $color-accent-primary;
    }

    .item-features {
      svg {
        circle {
          fill: $color-accent-primary;
        }
      }
    }

    .item-link {
      color: $color-accent-primary;

      svg {
        path {
          stroke: $color-accent-primary;
        }
      }
    }
  }

  &-theme-quaternary {
    .item-title {
      color: $color-quaternary;
    }

    .item-features {
      svg {
        circle {
          fill: $color-quaternary;
        }
      }
    }

    .item-link {
      color: $color-quaternary;

      svg {
        path {
          stroke: $color-quaternary;
        }
      }
    }
  }

  &-theme-accent-secondary {
    .item-title {
      color: $color-accent-secondary;
    }

    .item-features {
      svg {
        circle {
          fill: $color-accent-secondary;
        }
      }
    }

    .item-link {
      color: $color-accent-secondary;

      svg {
        path {
          stroke: $color-accent-secondary;
        }
      }
    }
  }

  &-title {
    margin-bottom: 20px;

    @include lg-down {
      grid-column-start: 2;
    }
  }

  &-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 260px;
    margin-bottom: 30px;

    @include fullhd-down {
      height: 210px;
    }

    @include xl-down {
      height: 200px;
      margin-bottom: 20px;
    }

    @include lg-down {
      grid-row-start: 1;
      grid-row-end: 3;
      margin-bottom: 0;
    }

    @include sm-down {
      margin-bottom: 20px;
    }
  }

  &-content {
    padding-bottom: 30px;

    @include xl-down {
      padding-bottom: 25px;
    }

    @include lg-down {
      padding-bottom: 37px;
    }
  }

  &-features {
    padding-left: 0;
    list-style: none;
    margin: 0;

    li {
      display: flex;
      align-items: flex-start;
      font-size: $font-size-xs;
      line-height: $line-height-xs;
      margin-bottom: 15px;

      @include fullhd-down {
        margin-bottom: 17px;
      }

      @include xl-down {
        font-size: $font-size-xxs;
        line-height: 21px;
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      svg {
        flex-shrink: 0;
        margin-top: 2px;
        margin-right: 10px;

        @include xl-down {
          width: 18px;
        }
      }
    }
  }

  &-link {
    display: flex;
    align-items: center;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    font-weight: 700;
    border-top: 2px solid $color-additional-4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;

    @include lg-down {
      grid-column-start: 2;
      border-top: none;
      padding-top: 0;
      padding-bottom: 0;
    }

    @include sm-down {
      border-top: 2px solid $color-additional-4;
      padding-top: 20px;
      padding-bottom: 15px;
    }

    svg {
      margin-left: 10px;

      path {
        stroke-width: 2;
      }
    }
  }
}

.shape {
  position: absolute;

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include lg-down {
    width: 370px;
  }

  @include sm-down {
    width: 320px;
  }
}

.shape-1 {
  top: -100px;
  left: -135px;

  @include fullhd-down {
    top: -90px;
    left: -120px;
  }

  @include xl-down {
    top: -67px;
    left: -110px;
  }

  @include lg-down {
    top: -52px;
    left: -160px;
  }

  @include sm-down {
    top: -39px;
    left: -90px;
  }
}

.shape-2 {
  bottom: -60px;
  right: -135px;

  @include fullhd-down {
    right: -100px;
  }

  @include xl-down {
    right: -81px;
    bottom: -57px;
  }

  @include lg-down {
    right: -90px;
    bottom: -46px;
  }

  @include sm-down {
    right: -145px;
    bottom: 294px;
  }
}
