.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 60px;
  padding-left: 0;
  margin: 0;
  list-style: none;

  @include lg-down {
    column-gap: 50px;
  }
}

.item {
  position: relative;

  @include with-link-primary;

  &:hover {
    .dropdown {
      visibility: visible;
      opacity: 1;
      transform: translate(calc(-50% + 35px), 0);
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: $font-size-xs;
  font-weight: 600;
}

.dropdown {
  position: absolute;
  left: 50%;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 20px;
  padding-left: 30px;
  list-style: none;
  visibility: hidden;
  background-color: $color-tertiary;
  border-radius: 10px;
  box-shadow: 0 50px 100px rgba(30, 13, 38, 0.25);
  opacity: 0;
  transition: all $transition-base;
  transform: translate(calc(-50% + 35px), 15px);

  strong {
    font-size: $font-size-sm;
  }

  &.multilevel {
    display: flex;

    > div {
      min-width: 200px;

      &:first-child {
        padding-right: 30px;
        border-right: 1px solid $color-additional-8;
      }

      &:nth-child(2) {
        padding-left: 30px;
      }
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    content: '';
    border-right: 8px solid transparent;
    border-bottom: 8px solid $color-tertiary;
    border-left: 8px solid transparent;
    transform: translateX(calc(-50% - 35px)) translateY(-100%);
  }

  li,
  div {
    white-space: nowrap;

    a {
      padding-top: 18px;
      padding-bottom: 10px;
      font-size: $font-size-xs;
    }
  }
}
