.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  column-gap: 60px;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.item {
  position: relative;
  @include with-link-primary;

  &:hover {
    .dropdown {
      transform: translate(calc(-50% + 35px), 0);
      visibility: visible;
      opacity: 1;
    }
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 600;
  height: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.dropdown {
  position: absolute;
  left: 50%;
  transform: translate(calc(-50% + 35px), 15px);
  background-color: $color-tertiary;
  box-shadow: 0px 50px 100px rgba(30, 13, 38, 0.25);
  border-radius: 10px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 60px;
  padding-bottom: 20px;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  transition: all $transition-base;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0px;
    height: 0px;
    border-right: 8px solid transparent;
    border-bottom: 8px solid $color-tertiary;
    border-left: 8px solid transparent;
    transform: translateX(calc(-50% - 35px)) translateY(-100%);
  }

  li {
    white-space: nowrap;

    a {
      font-size: $font-size-xxs;
      line-height: $line-height-xxs;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
