*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-primary;
  background-color: $color-tertiary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  max-width: 1530px;
  margin-right: auto;
  margin-left: auto;

  @include fullhd-down {
    max-width: 1290px;
  }

  @include xl-down {
    max-width: 1170px;
  }

  @include lg-down {
    max-width: 940px;
  }

  @include md-down {
    max-width: 700px;
  }

  @include sm-down {
    max-width: initial;
  }
}
