// Colors
$color-primary: #1e0d26;
$color-secondary: #f6f3ee;
$color-tertiary: #ffffff;
$color-quaternary: #22194d;

$color-accent-primary: #0ac2a3;
$color-accent-secondary: #7b51fb;
$color-accent-tertiary: #f7d56e;

$color-primary-hover: #4f4554;
$color-accent-primary-hover: #12a189;
$color-accent-secondary-hover: '';

$color-additional-1: #e0dcd4;
$color-additional-2: #827986;
$color-additional-3: #342a39;
$color-additional-4: #f8f8f7;
$color-additional-5: #2a1f2f;

// Fonts
$font-family-primary: 'Open-sans', Arial, sans-serif;
$font-family-secondary: 'Bitter', Arial, sans-serif;

$font-size-base: 20px;
$line-height-base: 30px;

$font-size-xxl: 70px;
$line-height-xxl: 91px;

$font-size-xl: 60px;
$line-height-xl: 78px;

$font-size-lg: 40px;
$line-height-lg: 52px;

$font-size-md: 24px;
$line-height-md: 31.2px;

$font-size-sm: 18px;
$line-height-sm: 19.8px;

$font-size-xs: 16px;
$line-height-xs: 22.4px;

$font-size-xxs: 14px;
$line-height-xxs: 18.2px;

$font-size-xxxs: 13px;
$line-height-xxxs: 20.2px;

// Animate
$transition-base: 0.2s;

// Breakpoints
$breakpoint-fullhd-down: 1920px - 0.02px;
$breakpoint-lg-down: 1330px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 768px - 0.02px;
$breakpoint-xs-down: 414px - 0.02px;
