// Colors
$color-primary: #1e0d26;
$color-secondary: #f6f3ee;
$color-tertiary: #fff;
$color-quaternary: #22194d;

$color-accent-primary: #0ac2a3;
$color-accent-secondary: #7b51fb;
$color-accent-tertiary: #f7d56e;

$color-primary-hover: #4f4554;
$color-accent-primary-hover: #12a189;
$color-accent-secondary-hover: #502eb8;
$color-accent-tertiary-hover: #ebc247;

$color-error: #f33;

$color-additional-1: #e0dcd4;
$color-additional-2: #827986;
$color-additional-3: #342a39;
$color-additional-4: #f8f8f7;
$color-additional-5: #2a1f2f;
$color-additional-6: #8e8792;
$color-additional-7: #c0bcc2;
$color-additional-8: #f1ede4;
$color-additional-9: #e6e4e7;

// Fonts
$font-family-primary: 'Open Sans', arial, sans-serif;
$font-family-secondary: 'Bitter', arial, sans-serif;

$font-size-base: 20px;
$font-size-xxl: 70px;
$font-size-xl: 60px;
$font-size-lg: 40px;
$font-size-md: 24px;
$font-size-sm: 18px;
$font-size-xs: 16px;
$font-size-xxs: 14px;
$font-size-xxxs: 13px;

$line-height-primary: 1.5;
$line-height-secondary: 1.3;

// Animate
$transition-base: 0.2s;
$transition-long: 0.5s;

// Breakpoints
$breakpoint-fullhd-down: 1920px - 0.02px;
$breakpoint-xl-down: 1440px - 0.02px;
$breakpoint-lg-down: 1280px - 0.02px;
$breakpoint-md-down: 1024px - 0.02px;
$breakpoint-sm-down: 768px - 0.02px;
$breakpoint-xs-down: 576px - 0.02px;
$breakpoint-xxs-down: 414px - 0.02px;

// Container
$container-width-lg: 940px;
$container-side-gap-lg: calc((100vw - #{$container-width-lg}) / -2);

$container-width-md: 700px;
$container-side-gap-md: calc((100vw - #{$container-width-md}) / -2);
