.wrapper {
  @include section-paddings;
}

.inner {
  max-width: 1270px;

  @include fullhd-down {
    max-width: 1070px;
  }

  @include xl-down {
    max-width: 970px;
  }

  @include lg-down {
    max-width: 940px;
  }
}
