.wrapper {
  @include section-paddings;

  margin-bottom: 195px;

  @include fullhd-down {
    margin-bottom: 155px;
  }

  @include lg-down {
    margin-bottom: 115px;
  }

  @include md-down {
    margin-bottom: 80px;
  }
}

.inner {
  max-width: 1270px;

  @include fullhd-down {
    max-width: 1070px;
  }

  @include xl-down {
    max-width: 970px;
  }

  @include lg-down {
    max-width: 940px;
  }
}
