.wrapper {
  max-width: 750px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include with-link-accent-secondary;

  a {
    font-weight: 600;
  }
}

.title {
  margin-bottom: 15px;
}

.description {
  margin-top: 0;
  margin-bottom: 30px;
}

.link {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}
