.wrapper {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;

  @include fullhd-down {
    max-width: 630px;
  }

  @include xl-down {
    max-width: 570px;
  }

  @include with-link-accent-secondary;

  a {
    font-weight: 600;
  }
}

.title {
  margin-bottom: 15px;

  @include xl-down {
    font-size: 35px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 30px;
}

.link {
  font-size: $font-size-xs;
  line-height: $line-height-xs;
}
