.wrapper {
  position: relative;
  text-align: center;
  background-color: $color-secondary;
  padding-top: 150px;
  padding-bottom: 115px;
  overflow: hidden;

  @include fullhd-down {
    padding-top: 130px;
    padding-bottom: 85px;
  }

  @include lg-down {
    padding-top: 110px;
    padding-bottom: 55px;
  }

  @include md-down {
    padding-top: 100px;
    padding-bottom: 35px;
  }

  .title {
    margin-bottom: 10px;

    @include md-down {
      max-width: 460px;
      margin-left: auto;
      margin-right: auto;
    }

    @include sm-down {
      max-width: 290px;
    }

    span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 50px;
        height: 30px;
        background-image: url(./images/flag.svg);

        @include lg-down {
          width: 40px;
          height: 24px;
          background-size: contain;
        }

        @include sm-down {
          top: 0;
          right: -45px;
        }
      }
    }
  }
}

.inner {
  @include lg-down {
    max-width: none;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 60px;

  @include xl-down {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  @include lg-down {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  @include md-down {
    margin-bottom: 45px;
  }

  @include sm-down {
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tabs {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  z-index: 1;
  @include section-paddings;

  @include lg-down {
    margin-bottom: 60px;
  }

  @include md-down {
    margin-bottom: 45px;
  }

  @include sm-down {
    flex-direction: column;
  }
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  text-align: left;
  flex: 0 0 270px;
  background-color: $color-tertiary;
  box-shadow: 0px 10px 30px rgba(30, 13, 38, 0.1), 0px 5px 10px rgba(30, 13, 38, 0.1);
  border-radius: 6px;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  margin-right: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  @include no-highlight-on-tap;

  @include lg-down {
    flex: 0 0 260px;
    margin-right: 20px;
    padding-top: 12px;
    padding-bottom: 8px;
  }

  @include sm-down {
    flex: initial;
    margin-right: 0;
    margin-bottom: 20px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: $color-additional-1;
    transition: background-color $transition-base;
  }

  &:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }

  &.active {
    &::after {
      background-color: $color-quaternary;
    }

    :global {
      .icon-cloud_inline_svg__shape,
      .icon-on-prem_inline_svg__shape {
        fill: $color-quaternary;
      }
    }
  }

  svg {
    margin-right: 20px;

    @include lg-down {
      width: 50px;
    }

    path {
      transition: fill $transition-base;
    }
  }

  .tab-title {
    @include lg-down {
      font-size: 22px;
      line-height: 28.6px;
    }

    @include md-down {
      font-size: 20px;
      line-height: 26px;
    }
  }
}

.tab-description {
  font-size: $font-size-xxs;
  line-height: $line-height-xxs;
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  position: relative;

  &.on-prem {
    .shape-1 {
      left: 70px;

      @include fullhd-down {
        left: -50px;
      }

      @include xl-down {
        top: -17px;
        left: -38px;
        height: 538px;
        width: 500px;
      }

      @include lg-down {
        top: -61px;
        left: -150px;
      }

      @include md-down {
        top: -34px;
        left: -177px;
      }

      @include sm-down {
        top: -84px;
        left: -196px;
      }
    }

    .shape-2 {
      right: 75px;

      @include fullhd-down {
        right: -40px;
      }

      @include xl-down {
        right: -37px;
        bottom: -21px;
        height: 475px;
        width: 500px;
      }

      @include lg-down {
        right: -167px;
      }

      @include md-down {
        right: -188px;
        bottom: -10px;
      }

      @include sm-down {
        right: -248px;
      }
    }
  }
}

.shape {
  position: absolute;
}

.shape-1 {
  top: -60px;
  left: -160px;

  @include fullhd-down {
    left: -190px;
  }

  @include xl-down {
    top: -40px;
    left: -230px;
  }

  @include lg-down {
    top: -58px;
    left: -189px;
  }

  @include md-down {
    top: 0;
    left: -105px;
    height: 400px;
  }

  @include sm-down {
    top: -80px;
    left: -75px;
    height: 327px;
  }
}

.shape-2 {
  bottom: -55px;
  right: -154px;

  @include fullhd-down {
    bottom: -25px;
    right: -214px;
  }

  @include lg-down {
    bottom: 5px;
    right: -200px;
  }

  @include md-down {
    right: -56px;
    height: 390px;
  }

  @include sm-down {
    height: 272px;
  }
}
