.wrapper {
  @include section-paddings;
}

.items-wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 70px;
  justify-content: center;

  @include fullhd-down {
    column-gap: 47px;
  }

  @include xl-down {
    column-gap: 40px;
  }

  @include lg-down {
    column-gap: 20px;
  }

  @include md-down {
    column-gap: 60px;
  }

  @include sm-down {
    column-gap: 20px;
  }
}

.item {
  width: 130px;
  // fix issue of images stretching
  object-fit: contain;
  height: 100%;

  @include fullhd-down {
    width: 120px;
  }

  @include xl-down {
    width: 110px;
  }

  @include lg-down {
    width: 100px;
  }

  @include sm-down {
    width: 80px;
  }
}

.text {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;

  @include xl-down {
    font-size: $font-size-sm;
  }

  @include lg-down {
    font-size: $font-size-xs;
  }

  @include sm-down {
    margin-bottom: 20px;
  }
}
