.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-height: 450px;
  margin-bottom: 120px;

  @include fullhd-down {
    max-height: 380px;
    margin-bottom: 90px;
  }

  @include xl-down {
    max-height: 345px;
  }

  @include lg-down {
    margin-bottom: 70px;
  }

  @include md-down {
    display: block;
    max-height: initial;
  }

  @include sm-down {
    margin-bottom: 60px;
  }

  @include xs-down {
    max-width: 384px;
    margin-right: auto;
    margin-left: auto;
  }
}

.shape {
  position: absolute;

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include lg-down {
    width: 370px;
  }

  @include md-down {
    width: 340px;
  }
}

.shape-1 {
  top: -150px;
  left: -150px;

  @include fullhd-down {
    top: -117px;
    left: -135px;
  }

  @include xl-down {
    top: -117px;
    left: -115px;
  }

  @include lg-down {
    top: -100px;
    left: -120px;
  }

  @include md-down {
    top: -30px;
    left: -125px;
  }

  @include sm-down {
    top: 0;
    width: 320px;
  }
}

.shape-2 {
  top: -60px;
  right: -60px;

  @include fullhd-down {
    top: -50px;
    right: -50px;
  }

  @include xl-down {
    top: -45px;
    right: -45px;
  }

  @include lg-down {
    top: -40px;
    right: -70px;
  }

  @include md-down {
    top: 105px;
    right: -40px;
  }

  @include sm-down {
    display: none;
  }
}

.shape-sum {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  transform: translateX(-50%) translateY(-50%);

  @include fullhd-down {
    width: 126px;
  }

  @include xl-down {
    width: 114px;
  }

  @include lg-down {
    width: 100px;
  }

  @include md-down {
    display: none;
  }
}

.shape-addition {
  margin-left: -170px;

  @include fullhd-down {
    margin-left: -143px;
  }

  @include xl-down {
    margin-left: -130px;
  }

  @include lg-down {
    margin-left: -110px;
  }
}

.shape-equal {
  margin-left: 170px;

  @include fullhd-down {
    margin-left: 143px;
  }

  @include xl-down {
    margin-left: 130px;
  }

  @include lg-down {
    margin-left: 110px;
  }
}
