.wrapper {
  position: relative;
  max-width: 1010px;
  padding-top: 35px;
  padding-right: 35px;
  padding-bottom: 100px;
  padding-left: 35px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
  color: $color-tertiary;
  background: $color-primary;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(30, 13, 38, 0.1), 0 5px 10px rgba(30, 13, 38, 0.1);

  @include fullhd-down {
    max-width: 850px;
    padding-bottom: 70px;
  }
}

.head {
  display: flex;
  margin-bottom: 40px;
}

.icon {
  margin-right: 35px;

  @include fullhd-down {
    width: 55px;
    margin-right: 20px;
  }
}

.title {
  margin-top: 5px;
}

.heading {
  margin-bottom: 5px;
}

.episode {
  display: inline-block;
  margin-right: 10px;
  font-weight: 600;
  color: $color-accent-tertiary;
}

.wave {
  margin-bottom: 35px;

  @include fullhd-down {
    width: 100%;
    margin-bottom: 25px;
  }
}

.button {
  position: relative;
  z-index: 1;
}

.illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 0 0 10px 10px;
}
