.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 350px;
  @include section-paddings;

  @include fullhd-down {
    margin-bottom: 295px;
  }

  @include xl-down {
    margin-bottom: 280px;
  }

  @include lg-down {
    margin-bottom: 230px;
  }

  @include md-down {
    margin-bottom: 200px;
  }

  @include xxs-down {
    margin-bottom: 120px;
  }
}

.title {
  text-align: center;

  span {
    &:nth-child(2) {
      color: $color-accent-tertiary;
    }

    &:nth-child(3) {
      color: $color-accent-secondary;
    }
  }
}

.illustration {
  position: absolute;
  z-index: -1;

  @include fullhd-down {
    width: 420px;
  }

  @include xl-down {
    width: 380px;
  }

  @include xxs-down {
    max-width: 100%;
  }
}
