.wrapper {
  padding-left: 0;
  margin-top: 15px;
  margin-bottom: 0;
}

.item {
  display: block;
  margin-bottom: 12px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.link {
  font-size: $font-size-xs;
  font-weight: 600;
  color: $color-additional-6;
  text-decoration: none;
}
