.wrapper {
  display: flex;

  @include with-link-primary;
}

.item {
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;

  @include md-down {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  svg {
    @include md-down {
      width: 32px;
    }
  }

  &.previous {
    margin-right: auto;

    svg {
      margin-right: 20px;
      transform: rotate(180deg);
    }
  }

  &.next {
    margin-left: auto;

    svg {
      margin-left: 20px;
    }
  }
}
