.wrapper {
  display: flex;
  max-width: 1010px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;

  @include with-link-primary;

  @include fullhd-down {
    max-width: 850px;
  }
}

.item {
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;

  &.previous {
    margin-right: auto;

    svg {
      margin-right: 20px;
      transform: rotate(180deg);
    }
  }

  &.next {
    margin-left: auto;

    svg {
      margin-left: 20px;
    }
  }
}
