.wrapper {
  position: relative;
  padding-top: 180px;
  padding-bottom: 210px;
  @include section-paddings;
}

.head {
  text-align: center;
  margin-bottom: 60px;
}

.title {
  margin-bottom: 10px;
}

.description {
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  font-weight: 700;
  color: $color-accent-secondary;
  text-decoration: none;

  svg {
    margin-left: 10px;

    path {
      stroke: $color-accent-secondary;
      stroke-width: 2;
    }
  }
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs {
  width: 230px;
  background: $color-additional-5;
  box-shadow: 0px 10px 30px rgba(30, 13, 38, 0.1), 0px 5px 10px rgba(30, 13, 38, 0.1);
  border-radius: 10px 0 0 10px;
  padding-top: 15px;
  padding-bottom: 15px;

  &-list {
    padding-left: 0;
    margin: 0;
    list-style: none;
  }

  &-item {
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: $color-tertiary;
    text-transform: uppercase;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: background-color $transition-base;

    &.active {
      background-color: $color-accent-primary;
    }
  }

  &-content {
    position: relative;
    display: block;
    text-align: left;
    height: 600px;
    width: 780px;
    background-color: $color-primary;
    box-shadow: 0px 10px 30px rgba(30, 13, 38, 0.1), 0px 5px 10px rgba(30, 13, 38, 0.1);
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

    code {
      font-size: 17px !important;
      line-height: 27.2px !important;
    }

    :global {
      .linenumber {
        margin-right: 35px;
      }
    }

    @include code-highlighting;
  }

  &-content-item {
    display: none;

    &.active {
      display: block;
    }
  }

  &-content-logo {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 20px;
    width: 95px;

    path {
      fill: $color-tertiary;
    }
  }
}

.shape {
  position: absolute;
  z-index: -1;

  &-android {
    top: 18.6%;
    left: 19.7vw;
  }

  &-python {
    top: 22.6%;
    right: 18.4vw;
  }

  &-php {
    top: 37%;
    left: 7.8vw;
    height: 100px;
    width: 100px;
  }

  &-ruby {
    top: 42%;
    right: 7.8vw;
    height: 80px;
    width: 80px;
  }

  &-react-native {
    bottom: 36.2%;
    left: 16.3vw;
  }

  &-ios {
    bottom: 33.9%;
    right: 15vw;
  }

  &-flutter {
    bottom: 10.5%;
    left: 11.6vw;
  }

  &-javascript {
    bottom: 8.9%;
    right: 11.7vw;
  }
}
