.wrapper {
  margin-bottom: 180px;

  @include xl-down {
    margin-bottom: 150px;
  }
}

.inner {
  max-width: 1010px;

  @include fullhd-down {
    max-width: 850px;
  }

  @include xl-down {
    max-width: 770px;
  }

  @include lg-down {
    max-width: 620px;
  }
}

.item {
  margin-bottom: 90px;
}
