.wrapper {
  position: relative;
  z-index: 2;
  display: block;
  flex: 0 0 560px;
  padding-top: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  text-align: left;
  background-color: $color-primary;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(30, 13, 38, 0.1), 0 5px 10px rgba(30, 13, 38, 0.1);

  @include fullhd-down {
    flex: 0 0 472px;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
  }

  @include xl-down {
    flex: 0 0 428px;
    padding-top: 46px;
  }

  @include lg-down {
    flex: 0 0 340px;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 15px;
    overflow-y: auto;
  }

  @include md-down {
    display: none;
  }

  ::-webkit-scrollbar {
    @include lg-down {
      display: none;
    }
  }

  pre {
    height: 100%;
    overflow: auto;

    @include lg-down {
      font-size: initial;
    }

    ::-webkit-scrollbar {
      display: none;
    }
  }

  .codes {
    font-size: 15px;
    line-height: 1;

    @include fullhd-down {
      font-size: 0.632em;
    }

    @include xl-down {
      font-size: 0.717rem;
    }

    @include lg-down {
      font-size: 12px;
      border-radius: 7px;
    }
  }

  :global {
    .linenumber {
      margin-right: 5px;
      font-size: 15px;
      line-height: 1.6;

      @include fullhd-down {
        font-size: 0.791rem;
      }

      @include xl-down {
        font-size: 0.717rem;
      }

      @include lg-down {
        font-size: 12px;
      }
    }
  }

  @include code-highlighting;
}

.panel {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 13px;
  line-height: 1.4;
  color: $color-additional-2;
  text-align: center;
  background-color: $color-additional-3;
  border-radius: 10px 10px 0 0;

  @include fullhd-down {
    font-size: 0.685rem;
  }

  @include xl-down {
    font-size: 0.621rem;
  }

  @include lg-down {
    font-size: 10px;
  }
}
