.wrapper {
  @include section-paddings;
}

.header {
  margin-bottom: 60px;

  @include lg-down {
    margin-bottom: 40px;
  }
}

.title {
  margin-bottom: 10px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  @include with-link-accent-secondary;

  @include xl-down {
    font-size: $font-size-sm;
  }

  @include lg-down {
    font-size: $font-size-xs;
  }
}

.items-wrapper {
  display: grid;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  &.with-text {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 30px;

    @include xl-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include lg-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm-down {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
      column-gap: 0;
    }

    .item-inner {
      align-items: flex-start;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      padding-left: 30px;
    }

    .logo {
      height: 40px;
      margin-bottom: 30px;
    }
  }

  &.only-logo {
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;

    @include xl-down {
      grid-template-columns: repeat(4, 1fr);
    }

    @include lg-down {
      grid-template-columns: repeat(3, 1fr);
    }

    @include sm-down {
      grid-template-columns: repeat(2, 1fr);
    }

    @include xs-down {
      grid-template-columns: repeat(1, 290px);
      column-gap: 0;
      justify-content: center;
    }

    .item {
      height: 200px;
    }

    .item-inner {
      align-items: center;
      justify-content: center;
    }
  }
}

.item {
  background-color: $color-tertiary;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(30, 13, 38, 0.1), 0 5px 10px rgba(30, 13, 38, 0.1);
  transition: box-shadow $transition-base, background-color $transition-base;

  &:hover {
    background-color: $color-additional-4;
    box-shadow: none;
  }
}

.item-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.text {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-sm;

  @include xl-down {
    font-size: $font-size-xs;
  }
}

.learn-more {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  margin-top: auto;
  font-size: $font-size-xs;
  font-weight: 700;
  color: $color-accent-secondary;
  border-top: 1px solid $color-additional-4;

  svg {
    margin-left: 6px;

    path {
      fill: $color-accent-secondary;
    }
  }
}
