.wrapper {
  @include section-paddings;
}

.inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-top: 2px solid #f8f8f7;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 7;
}

.menu {
  display: flex;
  justify-content: space-between;
  grid-column: span 5;
}

.copyright {
  display: flex;
  font-size: $font-size-xs;
  line-height: $line-height-xs;

  @include with-link-accent-secondary;

  a {
    display: flex;
    align-items: center;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
    font-weight: 700;
    margin-left: 4px;

    svg {
      margin-left: 6px;
    }
  }
}
