.wrapper {
  margin-bottom: 180px;

  @include section-paddings;

  @include xl-down {
    margin-bottom: 150px;
  }
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1270px;
  padding-top: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  background: $color-accent-tertiary;
  border-radius: 10px;

  @include fullhd-down {
    max-width: 1070px;
    padding-right: 50px;
    padding-left: 60px;
  }

  @include xl-down {
    max-width: 970px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
  }

  @include lg-down {
    max-width: 780px;
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
  }
}

.content {
  flex-basis: 630px;

  @include fullhd-down {
    flex-basis: 620px;
  }

  @include xl-down {
    flex-basis: 520px;
  }

  @include lg-down {
    flex-basis: 450px;
  }
}

.description {
  margin-bottom: 40px;

  @include fullhd-down {
    margin-bottom: 30px;
  }

  @include xl-down {
    margin-bottom: 20px;
  }

  @include xl-down {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  @include lg-down {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  p {
    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.form {
  display: flex;
  align-items: center;

  input {
    width: 100%;
    padding-top: 17px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
    margin-right: 20px;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
    border: none;
    border-radius: 6px;
    outline: none;
    box-shadow: 0 10px 20px rgba(192, 188, 194, 0.2);
    -webkit-appearance: none;

    @include xl-down {
      font-size: $font-size-xs;
      line-height: $line-height-xs;
    }

    @include lg-down {
      padding-top: 15px;
      padding-bottom: 14px;
      font-size: $font-size-xxs;
      line-height: $line-height-xxs;
    }
  }
}

.button {
  padding-top: 17px;
  padding-right: 25px;
  padding-bottom: 17px;
  padding-left: 25px;
  font-size: $font-size-xs;
}

.illustration {
  flex-shrink: 0;

  @include fullhd-down {
    width: 320px;
  }

  @include xl-down {
    width: 340px;
  }

  @include lg-down {
    width: 240px;
  }
}
