.wrapper {
  position: relative;
  z-index: 1;
  margin: 0 20px;

  @include md-down {
    width: 100% !important;
    margin: 0;
    transform: scale(1) !important;
  }
}

.inner {
  position: relative;
  left: 50%;
  width: 270px;
  transform: translateX(-50%);

  @include fullhd-down {
    width: 226px;
  }

  @include xl-down {
    width: 206px;
  }

  @include lg-down {
    width: 180px;
  }

  @include md-down {
    width: 100%;
    margin: 0;
  }
}

.content {
  position: relative;
  z-index: 1;
  background-color: $color-additional-4;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(30, 13, 38, 0.1), 0 5px 10px rgba(30, 13, 38, 0.1);

  @include lg-down {
    border-radius: 7px;
  }

  @include md-down {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    box-shadow: none;
  }

  & > * + * {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      content: '';
      background-color: rgba($color-primary, 0.05);

      @include md-down {
        display: none;
      }
    }
  }
}

.title {
  display: block;
  padding-top: 40px;
  padding-bottom: 35px;
  font-size: $font-size-base;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  @include fullhd-down {
    padding-top: 33px;
    padding-bottom: 30px;
    font-size: 1.054rem;
    line-height: 20.24px;
  }

  @include xl-down {
    padding-top: 30px;
    padding-bottom: 27px;
    font-size: 0.956rem;
    line-height: 18.35px;
  }

  @include lg-down {
    padding-top: 30px;
    padding-bottom: 27px;
    font-size: 15px;
    line-height: 18px;
  }

  @include md-down {
    display: none;
  }
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  font-size: $font-size-sm;
  font-weight: 600;
  line-height: 25.2px;

  &.dark {
    @include xs-down {
      display: none;
    }

    .switch-button {
      &.is-user-touched-toggle {
        .border-gradient {
          opacity: 0;
          animation: initial;
        }
      }
    }
  }

  @include fullhd-down {
    padding-top: 22px;
    padding-right: 17px;
    padding-bottom: 20px;
    padding-left: 17px;
    font-size: 0.949rem;
    line-height: 21.25px;
  }

  @include xl-down {
    padding-top: 22px;
    padding-right: 14px;
    padding-bottom: 16px;
    padding-left: 14px;
    font-size: 0.86rem;
    line-height: 19.27px;
  }

  @include lg-down {
    padding-top: 19px;
    padding-right: 15px;
    padding-bottom: 19px;
    padding-left: 15px;
    font-size: $font-size-xxs;
    line-height: 19.6px;
  }

  @include md-down {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  @include sm-down {
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  @include xxs-down {
    font-size: $font-size-xxs;
    line-height: $line-height-xxs;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;

  @include fullhd-down {
    padding-top: 33px;
    padding-bottom: 29px;
  }

  @include xl-down {
    padding-top: 30px;
    padding-bottom: 26px;
  }

  @include lg-down {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  @include md-down {
    display: none;
  }

  svg {
    @include fullhd-down {
      width: 2.111rem;
      height: 2.108rem;
    }

    @include xl-down {
      width: 1.912rem;
      height: 1.917rem;
    }

    @include lg-down {
      width: 30px;
      height: 30px;
    }
  }
}

.switch-button {
  position: relative;
  width: 55px;
  height: 30px;
  cursor: pointer;
  background-color: $color-quaternary;
  border: none;
  border-radius: 100px;
  outline: none;
  transition: background-color $transition-long;
  @include no-highlight-on-tap;

  @include fullhd-down {
    width: 2.898rem;
    height: 1.583rem;
  }

  @include xl-down {
    width: 2.629rem;
    height: 1.438rem;
  }

  @include lg-down {
    width: 42px;
    height: 23px;
  }

  @include md-down {
    width: 55px;
    height: 30px;
    margin-left: 20px;
  }

  @include sm-down {
    width: 48px;
    height: 26px;
    margin-left: 15px;
  }

  &::after {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    content: '';
    background-color: $color-tertiary;
    border-radius: 100%;
    transition: all $transition-long;

    @include fullhd-down {
      top: 4px;
      width: 1.054rem;
      height: 1.054rem;
    }

    @include xl-down {
      width: 0.956rem;
      height: 0.956rem;
    }

    @include lg-down {
      width: 15px;
      height: 15px;
    }

    @include md-down {
      top: 5px;
      width: 20px;
      height: 20px;
    }

    @include sm-down {
      top: 4px;
      width: 18px;
      height: 18px;
    }
  }

  &.checked {
    background-color: $color-accent-secondary;

    &::after {
      left: 53%;
    }
  }

  &:hover {
    .border-gradient {
      opacity: 0;
      animation: initial;
    }
  }
}

.border-gradient {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100px;
  z-index: -1;
  margin: -9px;
  opacity: 1;
  overflow: hidden;
  transition: opacity $transition-base;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-secondary;
    border-radius: 100px;
    margin: 3px;
    z-index: 1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: -15px;
    border-radius: inherit;
    background-image: linear-gradient(
      249.26deg,
      #33bbff 0%,
      #33bbff 24.23%,
      #ecb3ff 51.8%,
      #7733ff 77%,
      #7733ff 100%
    );

    animation: rotate 3s infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
