.input {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #e6e4e7;
}

.input-inner {
  width: 100%;
  max-width: 100%;
  padding-top: 3.5px;
  padding-right: 20px;
  padding-bottom: 3.5px;
  padding-left: 0;
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  color: $color-primary;
  resize: none;
  border: none;
  outline: none;
  -webkit-appearance: none;

  @include lg-down {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  &::placeholder {
    font-weight: 600;
    color: $color-additional-6;
  }

  &:focus {
    color: $color-primary;

    &::-webkit-input-placeholder {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    transition: transform $transition-base, opacity $transition-base;
    transform: translateY(0);
  }
}

.input-error {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: $font-size-xxxs;
  line-height: $line-height-xxxs;
}
