.input {
  position: relative;
  width: 100%;
  border-bottom: 2px solid #e6e4e7;
}

.input-inner {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  border: none;
  color: $color-primary;
  padding-top: 3.5px;
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 3.5px;
  outline: none;
  max-width: 100%;
  width: 100%;
  -webkit-appearance: none;
  resize: none;

  @include lg-down {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  &::placeholder {
    font-weight: 600;
    color: $color-additional-6;
  }

  &:focus {
    color: $color-primary;

    &::-webkit-input-placeholder {
      opacity: 0;
      transform: translateY(-10px);
      transition: transform $transition-base, opacity $transition-base;
    }
  }
}

.input-error {
  position: absolute;
  font-size: $font-size-xxxs;
  line-height: $line-height-xxxs;
  left: 0;
  bottom: -20px;
}
