.input {
  position: relative;
  width: 100%;

  textarea {
    min-height: 200px;
  }
}

.input-inner {
  width: 100%;
  max-width: 100%;
  padding-top: 3.5px;
  padding-right: 20px;
  padding-bottom: 3.5px;
  padding-left: 0;
  font-size: $font-size-sm;
  font-weight: 600;
  color: $color-primary;
  resize: none;
  border: none;
  border-bottom: 2px solid $color-additional-9;
  outline: none;
  transition: color, border-bottom $transition-base;
  -webkit-appearance: none;

  @include lg-down {
    font-size: $font-size-xs;
  }

  &::placeholder {
    color: $color-additional-6;
  }

  &:focus {
    color: $color-primary;
    border-color: $color-accent-secondary;

    &::-webkit-input-placeholder {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  &:hover {
    border-color: $color-additional-7;
  }

  &::-webkit-input-placeholder {
    opacity: 1;
    transition: transform $transition-base, opacity $transition-base;
    transform: translateY(0);
  }

  &.invalid {
    border-color: $color-error;
  }
}

.input-error {
  position: absolute;
  bottom: -25px;
  left: 0;
  font-size: $font-size-xxs;
  color: $color-error;
}
