.wrapper {
  max-width: 750px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;

  @include with-link-accent-secondary;

  &.with-image {
    display: flex;
    max-width: 1010px;

    .inner {
      max-width: 490px;
    }
  }
}

.image-wrapper {
  flex-shrink: 0;
  margin-right: 60px;
}

.image {
  border-radius: 10px;
}

.title {
  margin-bottom: 15px;
}

.info {
  display: inline-block;
  margin-bottom: 15px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-additional-6;
}

.description {
  margin-top: 0;
  margin-bottom: 25px;
}

.link {
  font-size: $font-size-xs;
  font-weight: 600;
  line-height: $line-height-xs;
}
