.wrapper {
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;

  @include with-link-accent-secondary;

  @include fullhd-down {
    max-width: 630px;
  }

  @include xl-down {
    max-width: 570px;
  }

  @include lg-down {
    max-width: 460px;
  }

  &.with-image {
    display: flex;
    max-width: 880px;
    margin-right: auto;
    margin-left: initial;

    @include fullhd-down {
      max-width: 740px;
    }

    @include xl-down {
      max-width: 770px;
    }

    @include lg-down {
      max-width: 620px;
    }

    @include md-down {
      max-width: 580px;
    }
  }
}

.image-wrapper {
  flex-shrink: 0;
  margin-right: 60px;

  @include fullhd-down {
    width: 280px;
    margin-right: 50px;
  }

  @include lg-down {
    width: 240px;
    margin-right: 40px;
  }

  @include md-down {
    width: 220px;
    margin-right: 20px;
  }
}

.image {
  border-radius: 10px;
}

.title {
  margin-bottom: 15px;

  @include lg-down {
    margin-bottom: 5px;
  }
}

.info {
  display: inline-block;
  margin-bottom: 15px;
  font-size: $font-size-xs;
  line-height: $line-height-xs;
  color: $color-additional-6;

  @include lg-down {
    margin-bottom: 10px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 25px;

  @include lg-down {
    margin-bottom: 15px;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }
}

.link {
  font-size: $font-size-xs;
  font-weight: 600;
  line-height: $line-height-xs;
}
