.wrapper {
  @include sm-down {
    flex: 0 0 180px;
    margin-bottom: 40px;
  }

  @include xxs-down {
    flex: 0 0 160px;
  }

  .title {
    margin-bottom: 30px;
    line-height: $line-height-secondary;

    @include lg-down {
      margin-bottom: 25px;
      font-size: 22px;
    }

    @include md-down {
      font-size: $font-size-base;
    }
  }
}

.links {
  padding-left: 0;
  margin: 0;
  list-style: none;

  li {
    margin-bottom: 30px;

    @include with-link-primary;

    @include lg-down {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.link {
  display: block;
  font-size: $font-size-xs;
}
