.wrapper {
  margin-top: 180px;
  margin-bottom: 150px;

  @include fullhd-down {
    margin-top: 150px;
  }

  @include lg-down {
    margin-top: 140px;
  }

  @include md-down {
    margin-top: 120px;
    margin-bottom: 120px;
  }

  @include section-paddings;
}

.inner {
  max-width: 1010px;

  @include fullhd-down {
    max-width: 850px;
  }

  @include xl-down {
    max-width: 770px;
  }

  @include lg-down {
    max-width: 780px;
  }

  @include md-down {
    max-width: initial;
  }
}

.title {
  @include xl-down {
    font-size: 50px;
  }

  @include lg-down {
    font-size: 45px;
  }

  @include md-down {
    font-size: 40px;
  }

  @include sm-down {
    font-size: 35px;
  }
}

.info {
  margin-bottom: 85px;

  @include md-down {
    margin-bottom: 65px;
  }
}

.content {
  @include content;

  a {
    font-weight: 700;
  }
}
