.wrapper {
  position: relative;
  padding-top: 130px;
  padding-bottom: 90px;
  margin-bottom: 210px;
  text-align: center;
  background-color: $color-secondary;

  @include section-paddings;

  @include fullhd-down {
    padding-top: 110px;
    padding-bottom: 70px;
    margin-bottom: 180px;
  }

  @include xl-down {
    padding-top: 90px;
  }

  @include lg-down {
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 150px;
    overflow: hidden;
  }

  @include md-down {
    padding-top: 90px;
    margin-bottom: 115px;
  }

  @include sm-down {
    padding-bottom: 40px;
    margin-bottom: 90px;
  }

  .title {
    margin-bottom: 10px;
  }
}

.inner {
  @include md-down {
    max-width: 580px;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 30px;

  @include xl-down {
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  @include lg-down {
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }
}

.button {
  margin-bottom: 70px;

  @include fullhd-down {
    margin-bottom: 60px;
  }

  @include xl-down {
    margin-bottom: 50px;
  }

  @include md-down {
    margin-bottom: 20px;
  }
}
