.wrapper {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 2px solid $color-additional-4;

  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
  }

  &.open {
    .icon {
      background-color: $color-accent-secondary;

      svg {
        transform: rotate(90deg);
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;

    @include no-highlight-on-tap;

    @include md-down {
      font-size: $font-size-md;
      line-height: $line-height-md;
    }

    @include sm-down {
      align-items: flex-start;
      font-size: 22px;
      line-height: 28.6px;
    }
  }
}

.icon {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  background-color: $color-primary;
  border-radius: 100%;
  transition: background-color $transition-base;

  @include md-down {
    width: 32px;
    height: 32px;
    margin-right: 15px;
  }

  @include sm-down {
    width: 28px;
    height: 28px;
  }

  svg {
    transition: transform $transition-base;

    @include sm-down {
      width: 8px;
      height: 12px;
    }
  }
}

.description-wrapper {
  margin-left: 0;
  overflow: hidden;
}

.description {
  max-width: 1035px;
  padding-top: 15px;
  padding-left: 65px;
  margin-top: 0;
  margin-bottom: 0;

  @include fullhd-down {
    max-width: 985px;
  }

  @include md-down {
    padding-left: 45px;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
  }

  @include sm-down {
    padding-top: 10px;
    font-size: $font-size-xs;
    line-height: $line-height-xs;
  }

  p {
    margin-top: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
