.wrapper {
  padding-top: 40px;
  margin-top: 130px;
  margin-bottom: 90px;

  @include lg-down {
    padding-top: 35px;
  }
}

.inner {
  @include content;

  position: relative;
  padding: 40px 45px 45px;
  color: $color-quaternary;
  background-color: $color-additional-4;
  border-radius: 10px;

  @include lg-down {
    padding-top: 35px;
  }

  @include md-down {
    padding-right: 35px;
    padding-bottom: 35px;
    padding-left: 35px;
  }

  @include sm-down {
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  & > p:nth-of-type(2) {
    font-weight: bold;
  }

  & > ul {
    margin: 0;
  }
}

.about {
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 30px !important;
  border-bottom: 2px solid rgba(34, 25, 77, 0.05);
}

.photo {
  position: absolute;
  top: -40px;
  left: 45px;

  @include lg-down {
    top: -35px;
  }

  @include md-down {
    left: 35px;
  }

  @include sm-down {
    left: 30px;
  }
}
