@mixin code-highlighting {
  * {
    &::selection {
      background-color: rgba($color-accent-primary, 0.5);
    }
  }

  pre {
    margin: 0;
    line-height: 1;
  }

  :global {
    .hljs-keyword,
    .hljs-name {
      color: $color-accent-primary;
    }

    .hljs-comment {
      color: rgba($color-tertiary, 0.5);
    }

    .hljs-string {
      color: $color-accent-tertiary;
    }

    .linenumber {
      color: $color-additional-2;
    }
  }
}
