@mixin content {
  @include list-style;

  > * {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0;

    @include xl-down {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child(:not(blockquote)) {
      margin-bottom: 0;
    }
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: $font-family-secondary;
    font-weight: 800;
  }

  > h1,
  > h2 {
    font-size: 35px;
    line-height: 1.3;

    @include xl-down {
      font-size: 30px;
    }
  }

  > h3,
  > h4 {
    font-size: 30px;

    @include fullhd-down {
      font-size: 28px;
    }

    @include xl-down {
      font-size: 26px;
    }
  }

  > h5,
  > h6 {
    font-size: $font-size-md;
    line-height: $line-height-md;

    @include xl-down {
      font-size: 22px;
    }
  }

  > ul {
    margin-top: 30px;
    margin-bottom: 30px;

    @include sm-down {
      padding-left: 0;
    }
  }

  article {
    padding-right: 0;
    padding-left: 0;
  }

  blockquote {
    position: relative;
    padding-left: 35px;
    margin-top: 150px;
    margin-bottom: 150px;

    @include xl-down {
      margin-top: 120px;
      margin-bottom: 120px;
    }

    @include lg-down {
      margin-top: 90px;
      margin-bottom: 90px;
    }

    @include sm-down {
      padding-left: 20px;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      font-family: $font-family-secondary;
      font-size: $font-size-lg;
      font-weight: 800;
      line-height: $line-height-lg;

      @include fullhd-down {
        font-size: 35px;
        line-height: 1.3;
      }

      @include xl-down {
        font-size: 30px;
      }

      @include sm-down {
        font-size: 26px;
      }

      @include xs-down {
        font-size: $font-size-md;
      }
    }

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 6px;
      height: 100%;
      content: '';
      background-color: $color-accent-secondary;
    }
  }
}
