@mixin content {
  @include with-link-accent-secondary;

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-family: $font-family-secondary;
    font-weight: 800;
    line-height: $line-height-secondary;
  }

  > h1 {
    width: fit-content;
    margin-top: 180px;
    margin-right: auto;
    margin-bottom: 90px;
    margin-left: auto;
    font-size: $font-size-xl;

    @include fullhd-down {
      margin-top: 150px;
      font-size: 50px;
    }

    @include lg-down {
      margin-top: 140px;
      font-size: 45px;
    }

    @include md-down {
      margin-top: 120px;
      margin-bottom: 70px;
      font-size: $font-size-lg;
    }

    @include sm-down {
      font-size: 35px;
    }
  }

  > h2 {
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: $font-size-lg;

    @include fullhd-down {
      font-size: 35px;
    }

    @include lg-down {
      font-size: 30px;
    }

    @include md-down {
      font-size: 28px;
    }
  }

  > h3 {
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 30px;

    @include fullhd-down {
      font-size: 28px;
    }

    @include lg-down {
      font-size: 26px;
    }

    @include md-down {
      font-size: $font-size-md;
    }
  }

  > h4 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: $font-size-md;

    @include fullhd-down {
      font-size: 22px;
    }

    @include lg-down {
      font-size: $font-size-base;
    }
  }

  > p,
  > ul,
  > ol {
    @include lg-down {
      font-size: $font-size-sm;
    }

    @include sm-down {
      font-size: $font-size-xs;
    }
  }

  > p {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  > ul,
  > ol {
    margin-top: 30px;
    margin-bottom: 30px;

    li {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    ::marker {
      font-weight: bold;
      color: $color-accent-secondary;
    }
  }

  > ul {
    padding-left: 20px;
  }

  > ol {
    padding-left: 22px;
  }
}
