@mixin with-link-primary {
  a:not(.button) {
    text-decoration: none;
    color: $color-primary;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-secondary;
    }

    &.icon-arrow {
      &:hover {
        svg {
          animation: bounce 0.3s;

          path {
            fill: $color-accent-secondary;
          }
        }
      }

      svg {
        margin-left: 10px;

        path {
          fill: $color-primary;
          transition: fill $transition-base;
        }
      }
    }
  }
}

@mixin with-link-quaternary {
  a:not(.button) {
    text-decoration: none;
    color: $color-quaternary;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-secondary;
    }

    &.icon-arrow {
      &:hover {
        svg {
          animation: bounce 0.3s;

          path {
            fill: $color-accent-secondary;
          }
        }
      }

      svg {
        margin-left: 10px;

        path {
          fill: $color-quaternary;
          transition: fill $transition-base;
        }
      }
    }
  }
}

@mixin with-link-accent-primary {
  a:not(.button) {
    text-decoration: none;
    color: $color-accent-primary;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-secondary;
    }

    &.icon-arrow {
      &:hover {
        svg {
          animation: bounce 0.3s;

          path {
            fill: $color-accent-secondary;
          }
        }
      }

      svg {
        margin-left: 10px;

        path {
          fill: $color-accent-primary;
          transition: fill $transition-base;
        }
      }
    }
  }
}

@mixin with-link-accent-secondary {
  a:not(.button) {
    text-decoration: none;
    color: $color-accent-secondary;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-primary;
    }

    &.icon-arrow {
      &:hover {
        svg {
          animation: bounce 0.3s;

          path {
            fill: $color-accent-primary;
          }
        }
      }

      svg {
        margin-left: 10px;

        path {
          fill: $color-accent-secondary;
          transition: fill $transition-base;
        }
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}
