@mixin with-link-primary {
  a:not(.button) {
    color: $color-primary;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-secondary;
    }

    &[data-with-arrow='true'] {
      &:hover {
        svg {
          path {
            fill: $color-accent-secondary;
          }
        }
      }

      svg {
        path {
          fill: $color-primary;
        }
      }
    }
  }
}

@mixin with-link-quaternary {
  a:not(.button) {
    color: $color-quaternary;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-secondary;
    }

    &[data-with-arrow='true'] {
      &:hover {
        svg {
          path {
            fill: $color-accent-secondary;
          }
        }
      }

      svg {
        path {
          fill: $color-quaternary;
        }
      }
    }
  }
}

@mixin with-link-accent-primary {
  a:not(.button) {
    color: $color-accent-primary;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-secondary;
    }

    &[data-with-arrow='true'] {
      &:hover {
        svg {
          path {
            fill: $color-accent-secondary;
          }
        }
      }

      svg {
        path {
          fill: $color-accent-primary;
        }
      }
    }
  }
}

@mixin with-link-accent-secondary {
  a:not(.button) {
    color: $color-accent-secondary;
    text-decoration: none;
    transition: color $transition-base;

    &:hover {
      color: $color-accent-primary;
    }

    &[data-with-arrow='true'] {
      &:hover {
        svg {
          path {
            fill: $color-accent-primary;
          }
        }
      }

      svg {
        path {
          fill: $color-accent-secondary;
        }
      }
    }
  }
}
