.wrapper {
  @include section-paddings;

  &.with-indents {
    margin-bottom: 180px;

    @include fullhd-down {
      margin-bottom: 145px;
    }

    @include lg-down {
      margin-bottom: 105px;
    }

    @include md-down {
      margin-bottom: 75px;
    }
  }
}

.inner {
  width: 100%;
  max-width: 1270px;
  padding-top: 95px;
  padding-right: 80px;
  padding-bottom: 95px;
  padding-left: 80px;
  margin-right: auto;
  margin-left: auto;
  background-color: $color-accent-tertiary;
  border-radius: 10px;

  @include fullhd-down {
    max-width: 1070px;
    padding-top: 70px;
    padding-right: 80px;
    padding-bottom: 65px;
    padding-left: 50px;
  }

  @include xl-down {
    max-width: 970px;
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @include lg-down {
    max-width: 780px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  @include sm-down {
    display: grid;
    grid-template-columns: 12fr;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.content {
  max-width: 404px;

  @include fullhd-down {
    max-width: 390px;
  }

  @include xl-down {
    max-width: 350px;
  }

  @include lg-down {
    max-width: 310px;
  }
}

.header {
  margin-bottom: 40px;

  @include lg-down {
    margin-bottom: 30px;
  }
}

.title {
  margin-bottom: 10px;

  @include md-down {
    font-size: 45px !important;
  }
}

.description {
  margin-top: 0;
  margin-bottom: 0;

  @include xl-down {
    font-size: $font-size-sm;
  }

  @include lg-down {
    font-size: $font-size-xs;
  }
}

.button {
  @include lg-down {
    padding: 16px 25px;
    font-size: $font-size-xs;
  }
}

.illustration-wrapper {
  position: absolute;
  top: -50px;
  right: 135px;
  width: 735px;

  @include fullhd-down {
    top: -42px;
    right: 120px;
    width: 620px;
  }

  @include xl-down {
    top: -38px;
    right: 110px;
    width: 555px;
  }

  @include lg-down {
    top: -28px;
    right: 90px;
    width: 411px;
  }

  @include md-down {
    top: -26px;
    right: -2px;
    width: 365px;
  }

  @include sm-down {
    position: relative;
    top: 0;
    right: auto;
    left: 50%;
    grid-row-start: 1;
    margin-top: -65px;
    margin-bottom: 20px;
    transform: translateX(-50%);
  }

  @include xs-down {
    width: 370px;
    margin-top: -66px;
    margin-left: -10px;
  }

  @include xxs-down {
    top: 10px;
    width: 270px;
    margin-top: -69px;
  }
}
